*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*--------------------font-chu-------------------*/
@font-face{
    font-family: raleway;
    src: url(Raleway-Medium.ttf);
}
/*--------------------hearder--------------------*/
header h1{
    color: #f27c66;
}
.header a:hover{
    color: #b0b0b0;
}
header ul{
    display: flex;
    list-style: none;
}
.v-h05{
    float: left;
    margin-left:5%;
}
.v-b02{
    border: none;
}
.v-a01{
    /* background-color: #5f5f5f; */
    overflow: auto;
    color: white;
}
.v-h01{
    float: left;
    margin-left:  5%;
}
.v-h01 i{
    font-size: 24px;
}
.v-h02,.v-h03{
    float: right;
    margin-right:  5%;
}
.v-h03{
    font-weight: bold;
}
.v-h01 li{
    margin-left:15px;
}
.v-h02 li{
    margin-right:15px;
}
.v-h03 li{
    padding-right:20px;
    margin-right:20px;
    border-right: 2px solid white;
}
.v-h03 .v-li01{
    border: none;
    margin-right: 15px;
    padding-right: 0;
}
.v-b01{
    /* background-color: #ffffff; */
    /* padding: 15px 0; */
    border-top: 1px solid gray;
    overflow: auto;
    color: #5f5f5f;
}
.v-b02{
    border: none;
}
.v-h03{
    padding-top: 6px;
}
.v-c03{
    /* background-color: #5f5f5f; */
    text-align: center;
    padding: 5% 0;
    color: #ffffff;
}
.t-title{
    background-color: white;
    
    width: fit-content;
    padding: 2px 50px;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
}
.t-title h1{
    color: tomato;
    padding-right: 5px;
}
.trung-header{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    height: fit-content;
    background-size: 100% cover; 
}
/*---------------------trung-header----------------*/
.trung-header-v01{
    text-align: left;
    padding: 100px 0px;
    padding-left: 5%;
    /* margin-left: 5%; */
}
.trung-header-v01 p{
    width: 60%;
    margin: 20px 0px;
}
.trung-header-v01 p{
    width: 60%;
    margin: 20px 0px;
    color: white;
}
.trung-header-v01 .btn-lg{
    color: white;
    background-color: tomato;
}
.trung-header-v01 .btn-lg:hover{
    color: tomato;
    background-color: white;
    border-color: tomato
}
/*---------------------body-learn2----------------*/
.trung-col-12{
    width: 100%;
    overflow: auto;
    margin: auto;
}
#trung-s01{
    padding: 0 5%
    
}
#trung-s01 img{
    width: 100%;
}
#trung-s01 .card{
    border: 0px;
    border-radius: 20px;
}

#trung-s01 .card:hover{
    cursor: pointer;
	-webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    box-shadow: 10px 10px 0px #888888; 
}

#btn-top {
    align-items: center;
    border: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    bottom: 10px;
    display: none;
    justify-content: center;
    padding: 15px 0px;
    position: fixed;
    right: 5px;
    width: 40px;
    height: 45px;
    font-size: 35px;
    color: white;
    background-color: black;
}
hr{
    margin:auto!important
}

.service-icon{
    display: flex;
    margin: 10px 0px;
    text-align: center;
    font-size: 20px;
}
.service-icon div{
    margin: 30px 0px;
    width: 25%;
}
.service-icon a{
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    padding: 25px 25px;
    margin: 10px 0px;
    border:2px solid #18bb7c;
    color: #18bb7c;
}
.service-icon a:hover{
    background-color: #18bb7c;
    color: white;
}
#trung-s02{
    padding: 5%;
}
.btn-service{
    color: white;
    border: 1px solid #18bb7c;
    padding: 10px 20px;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    background-color: #18bb7c;
}

.trung-s03 {
    background-image: url(http://unilearn.cwsthemes.com/wp-content/uploads/2016/04/parallax-1.png);
    background-color: tomato;
    padding: 5%;
}


.trung-s03 span{
    color: white;
    margin-top: 20px;
}
.space{
    margin: 20px 5px;
}
.space1{
    padding: 20px 5px;
}
.trung-s04{
    padding: 2% 5%;
    margin: 30px 0px;
}
.trung-s04 img.graduate{
    width: 100%;
}
.trung-s04 a{
    color: tomato;
}
.trung-s05{
    padding: 2% 5%;
}
.trung-s05 .card{
    border: 0px
}
.trung-s05 #headingOne, #headingTwo, #headingThree{
    border-radius:10px ;
    background-color: #18bb7c;
}
.trung-s05 .card-body{
    background-color: white;
    border-radius:10px ;
    border: 1.6px solid #dadce0;
}
.trung-s05 .icon{
    color: white;
    margin: 0px 10px;
}
.trung-s05 .ad{
    width: 98%;
}
.trung-s06 .jumbotron {
    background-image: url(http://unilearn.cwsthemes.com/wp-content/uploads/2016/04/parallax-1.png);
    background-color: #F9CB8F; 
    color: #ffffff;
    padding: 10% 5%;
    margin-bottom: 0;
}
.trung-s06 h1{
    color: #ffffff;
    margin: 10px 0px;
}
.trung-s06 img{
    display: inline-block;
    display:block;
    margin:auto;
    width: 250px;
    height: 4px;
}
.trung-s06 button.send{
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    border: tomato 2px solid;
    width: 70px;
    background-color: white;
    color: tomato;
}
.trung-s06 button:hover{
    border:  white;
    background-color: tomato;
    color: white;
}
.trung-s06 form {
    display: inline-block;
}
.trung-s07{
    padding: 2% 5%;
}
.trung-s07 .col-md-6{
    overflow: auto;
    height: 250px;
}
.trung-s07 img.teacher{
    float: left;
    width: 36%;
    height: 100%;
}
.trung-s07 hr{
    width: 100px;
    margin: 3px 0px;
    background-color: white;
}
.trung-s07 i{
    margin: 0px 10px;
}
.trung-s07 .teacher1{
    height: 100%;
    width: 64%;
     padding: 10% 5%;
    float: left;
    vertical-align: middle;
    color: white;
    background: tomato;
}
.trung-s07 .teacher2{
    height: 100%;
    width: 64%;
     padding: 10% 5%;
    float: left;
    vertical-align: middle;
    color: white;
    background: #F9CB8F;
}
.trung-s07 .teacher3{
    height: 100%;
    width: 64%;
     padding: 10% 5%;
    float: left;
    vertical-align: middle;
    color: white;
    background: #18bb7c;
}
.trung-s07 .teacher4{
    height: 100%;
    width: 64%;
     padding: 10% 5%;
    float: left;
    vertical-align: middle;
    color: white;
    background: #5F5F5F;
}
.trung-s08{
    padding: 2% 5%;
}
.trung-s08 .watch{
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    border: #18bb7c 2px solid;
    background-color: white;
    color: #18bb7c;
    padding: 5px 15px;
}

.trung-s08 .watch:hover{
    color:  white;
    background-color: #18bb7c;
    
}
.trung-s09{
    padding: 2% 5%
}
.trung-s09 .card{
    border: 0px; 
    
}

.trung-s09 .card-event{
    border: 1px solid whitesmoke;
    border-radius: 20px;
    height: 400px;
}
.card-event hr{
    background-color: #F27C66;
    width: 160px;

}
.card-event h5{
    color: #F27C66;
}
.card-event > div{
    display: inline-block; 
    color:  white;
    width: 160px;
    height:  160px;
    padding: 45px 0px;
    margin: 25px 0px;
    background-color: #F27C66;
}
.card-event p{
    margin-top: 30px;
}
.card-event div:hover{
    border: 1px solid #F27C66;
    color: #F27C66;
    background-color: white;
}

.card-blog hr{
    background-color: #F9CB8F;
    width: 160px;

}
.card-blog h5{
    color: #F9CB8F;
}
.card-blog > div{
    display: inline-block; 
    color:  white;
    width: 160px;
    height:  160px;
    padding: 45px 0px;
    margin: 25px 0px;
    background-color: #F9CB8F;
}
.card-blog p{
    margin-top: 30px;
}
.card-blog div:hover{
    border: 1px solid #F9CB8F;
    color: #F9CB8F;
    background-color: white;
}


.trung-s09 .card-publish{
    border: 1px solid whitesmoke;
    border-radius: 20px;
    height: 400px;
}
.card-publish h5{
    color: #18bb7c;
}
.card-publish hr{
    background-color: #18bb7c;
    width: 160px;

}
.card-publish > div{
    display: inline-block; 
    color:  white;
    width: 160px;
    height:  160px;
    padding: 45px 0px;
    margin: 25px 0px;
    background-color: #18bb7c;
}
.card-publish p{
    margin-top: 30px;
}
.card-publish div:hover{
    border: 1px solid #18bb7c;
    color: #18bb7c;
    background-color: white;
}

.trung-s10{
    padding: 2% 5%
}
.trung-s10 p{
    color: tomato;
}
#carouselInterval .img-carousel{
    border-top-left-radius:10px ;
    border: solid 2px grey;
    border-bottom-right-radius:10px ;
}
span.openquote{
    background-image: url(../images/openquote1.gif);
    display: block;;
     background-repeat: no-repeat;
     background-position: top left;
}
span.closequote{
    background-image: url(../images/closenquote1.gif);
    display: block;;
     background-repeat: no-repeat;
     background-position: bottom right;
}
#carouselInterval h5{
    color: #f27c66;
}
#carouselInterval img{
    height: 99%;
    width: 90%;
    border-top-left-radius:10px ;
    border: solid 2px whitesmoke;
    border-bottom-right-radius:10px ;
}
.carousel-indicators > li {
    border: solid 1px #f27c66;
    height: 10px;
    width: 10px;
    border-radius: 50%
    
  }
  
  .carousel-indicators > li.active {
    background-color: #f27c66;
  }
/*------------------------footer------------------*/
footer{
    display: flex;
    line-height: 25px;
    background-color: #2d3339;
    color: #b0b0b0;
    font-size: 14px;
    padding: 0 5%;
    /* flex-wrap: wrap; */
}
footer img{
    padding-right: 5px;
}
.v-f01{
    display: flex;
    padding: 10px 15px;
    margin: 15px 0;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
}
.v-a1{
    background-color: #f27c66;
}
.v-a2{
    background-color: #f9cb8f;
}
.v-f01 h3{
    width: 95%;
    color: #f7f7f7;
    font-size: 16.38px !important;
}
.social-icon{
    display: flex;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
.social-icon div{
    width: 25%;
}
.social-icon a{
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    padding:15px 15px;
    border:2px solid #f27c66;
    color: #f27c66;
}
.v-f02{
    display: flex;
}
.v-f02 p{
    width: 20%;
}
.v-f03{
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}
.v-a3{
    border-bottom: none;
}
.v-a4{
    background-color: #18bb7c;
}
footer input, footer textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #2d3339;
}
.v-p01{
    width: 30%;
    margin: 0 15px;
}
footer b{
    margin-top: 15px;
}
#sub{
    border: 2px solid #18bb7c;
    width: 35%;
    padding: 10px 20px;
    background-color: #2d3339;
    color: #18bb7c;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
}
#sub:hover{
    background-color: #18bb7c;
    color: #e1e1e1;
}
footer a:hover{
    background-color:#f27c66;
    color: #f7f7f7;
}
.vg-d4{
    border: 2px solid rgb(242,242,242);
}
.vg-d5{
   
    display: flex;
    margin-left: 50%;
    box-sizing: border-box;
    position: relative;
    top: -5px;
 
}
.sp1{
    border: 2px solid rgb(242,124,102);
    width: 10%;
}
.sp2{
    border: 2px solid rgb(249,203,144);
    width: 10%;
}
.sp3{
    border: 2px solid rgb(24,187,124);
    width: 10%;
}

@media only screen and (max-width: 992px) {

    .v-h01{
        margin-left: 5%;
    }
    .v-i01{
        width: 100%;
        margin: auto;
    }
   
    .v-bk02 h1{
        font-size: 25px;
    }
    footer .v-p01{
        width: 100%;
    }
    footer .social-icon{
        margin-bottom: 25px;
    }
    .v-v01 p{
        font-size: 13px;
    }
    footer{
        flex-direction: column;
    }
    .v-h05{
        margin: 0;
        text-align: center;
        float: none;
    }
    .v-h03{
        display: block;
        float: none;
        padding: 0;
    }
    .v-li01{
        margin-right: 0;
    }
    footer{
        padding-left: 3%;
    }
}
@media only screen and (max-width: 768px) {
    .v-s01{
        flex-direction: column;
    }
    .columns1,.columns2{
        width: 100%;
    }
    .v-out{
        display: none;
    }
    .v-i01{
        width: 80%;
        margin: auto;
    }

}